<!doctype html>
<html lang="en">
  <head>
    <title>bài 4 -AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
  </head>
  <body ng-app="myapp">
      <div ng-controller="myctrl">
          <form style="width:500px;margin-left:300px;margin-top:50px;" >
              <div class="form-group">
                  <strong>Chiều dài</strong>
                  <input ng-model="lenght" class="form-control" placeholder="Nhập chiều dài">
              </div>
              <div class="form-group">
                <strong>Chiều rộng</strong>
                <input ng-model="width" class="form-control" placeholder="Nhập chiều rộng">
            </div>
            <div class="form-group">
                <strong>Diện tích</strong>
                <div ng-bind="dt" class="form-control">
            </div>
            <div class="form-group">
                <strong>Chu vi</strong>
                <div  ng-bind="cv" class="form-control"></div>
            </div>
            <hr/>
            <button class="card btn-default" type="submit" ng-click="calculate()">Calculate</button>
          </form>
      </div>
      <script>
          angular.module('myapp',[]).controller('myctrl',function($scope){
              $scope.calculate=function(){
                  var a=parseFloat($scope.width);
                  var b=parseFloat($scope.lenght);
                  $scope.dt=a*b;
                  $scope.cv=(a+b)/2;
              }
          })
      </script>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>